body {
	font-family: Lato;
}

#controls-container {
	width: 200px;
	background-color: lightgreen;
	border-radius: 8px;
	margin: 8px;
	padding: 18px;
	margin-left: calc(50vw - 110px);
}

#controls-container div {
	margin-bottom: 22px;
}

#header {
	font-size: 32px;
	color: #44993d;
}

#output-container canvas {
	background-color: #dff;
	border-radius: 8px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#equation-container {
	padding: 22px;
	font-size: 32px;
}

.exponent {
	vertical-align: super;
	font-size: 22px;
}

.sign {
	padding-left: 8px;
	padding-right: 8px;
	display: inline-block;
}

.variable {
	font-weight: bold;
	font-size: 28px;
	font-family: 'Petit Formal Script', cursive;
	margin-left: 4px;
}

.button {
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #222;
	padding: 8px;
	background-color: #44993d;
	cursor: pointer;
	text-align: center;
	box-shadow: 4px 4px 8px 2px #000c;
	color: white;
	font-size: 22px;
	max-width: 200px;
}

.button:hover {
	background-color: #444;
}
